.wrapper__header {
    height: 80px;
    display: flex;
    place-items: center;
    box-shadow: 0 8px 16px #00000040;
}

.header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    place-items: center;
}

.header__logo {
    justify-self: start;
}

.header__navigate {
    justify-self: end;
}

.navigate__list {
    display: flex;
}

.navigate__item {
    align-self: flex-end;
    padding-left: 32px;
}

.navigate__link {
    text-decoration: none;
    font-weight: 300;
    color: var(--primary);
}