.section__first {
    position: relative;
}

/* .particles {
    position: absolute;
    inset: -20px 0;
    z-index: -1;
} */

.section__content {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    z-index: 1;
}

.section__second .card__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
    gap: 64px;
}

.spikes {

}

.section__third {

}
