.h-introduction__text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h-introduction__image {
    display: grid;
    grid-auto-columns: 400px;
    justify-content: center;
}

@media (max-width: 600px) {
    .h-introduction__image {
        grid-auto-columns: 220px;
    }
}