section {
    position: relative;
}

.h-whos-that-pokemon__text {
    padding-left: 20px;
    display: grid;
    place-content: center start;
    z-index: 2;
}

.h-whos-that-pokemon__image {
    display: grid;
    justify-content: center;
}

.h-whos-that-pokemon__image > .image--glow-up {
    width: 300px;
    position: relative;
    filter: brightness(0.01);
}

.s-whos-that-pokemon__image--show {
    filter: brightness(1) !important;
    transition: filter 600ms;
}

.shaking--show {
    animation: shaking 300ms alternate forwards;
}

@keyframes shaking {
    0% { transform: translate(0px); rotate: 0deg;}
    25% { transform: translate(4px, 8px); rotate: 4deg;}
    50% { transform: translate(-4px, 8px); rotate: -4deg;}
    75% { transform: translate(4px, 8px); rotate: 4deg;}
    100% { transform: translate(0px); rotate: 0deg;}
}

@media (max-width: 600px) {
    .h-whos-that-pokemon__image > .wrapper__image {
        width: 160px;
        position: relative;
        filter: brightness(0.01);
    }
}