.wrapper__button {
    padding: 0 16px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    background: var(--bg-red-third);
}
.button__text {
    padding-left: 8px;
    color: var(--bg-yellow-first);
    font-weight: 600;
}