:root {
    --start: var(--bg-yellow-sixth);
    --midle: white;
    --end: var(--bg-yellow-first);
}

.wrapper__card {
    display: grid;
    border-radius: 8px;
    background: var(--card-gradient);
    box-shadow: var(--card-box-shadow);
}

.card__image {
    height: 200px;
    width: 200px;
    justify-self: center;
}

.card__image:empty {
    height: 200px;
    mask-image: url(../assets/pokebola.svg);
    mask-position: center;
    mask-repeat: no-repeat;
}

.card__content {
    height: 40px;
    display: grid;
    grid-template-columns: 40% 20% 10%;
    place-items: baseline stretch;
    place-content: space-evenly;
}

.card__name,
.card__number,
.card__icon {
    height: 25px;
    display: block;
}

.card__icon {
    align-self: start;
}

.card__icon > .pokeball {
    background: var(--red-third);
}  

/* .skeleton:empty {
    border-radius: 4px;
    animation: 800ms animate alternate infinite;
}

@keyframes animate {
    0% {background: linear-gradient(90deg, var(--start) 0%, var(--midle) 0%, var(--end) 100%);}
    25% {background: linear-gradient(90deg, var(--start) 0%, var(--midle) 25%, var(--end) 100%);}
    50% {background: linear-gradient(90deg, var(--start) 25%, var(--midle) 50%, var(--end) 100%);}
    75% {background: linear-gradient(90deg, var(--start) 50%, var(--midle) 75%, var(--end) 100%);}
    100% {background: linear-gradient(90deg, var(--start) 75%, var(--midle) 100%, var(--end) 100%);}
} */