:root {
    --angle: 360deg / 3;
}
.wrapper-carousel {
    user-select: none;
    overflow: hidden;
    perspective: 1000px;
}
.carousel {
    height: 300px;
    display: grid;
    place-items: center;
    transform-style: preserve-3d;
}
@keyframes rotate {
    from { transform: rotateY(0); }
    to { transform: rotateY(360deg); }
}
.carousel-card {
    width: 200px;
    height: 200px;
    position: absolute;
    opacity: 0.4;
    display: grid;
    place-items: center;
    border-radius: 0.4rem;
    transition: 0.3s opacity;
}
.carousel-card.activate {
    opacity: 1;
    transition: 0.3s opacity;
}
.carousel-card:nth-child(1) {
    transform: rotatey(calc(var(--angle) * 0)) translateZ(300px);
}
.carousel-card:nth-child(2) {
    transform: rotatey(calc(var(--angle) * 1)) translateZ(300px);
}
.carousel-card:nth-child(3) {
    transform: rotatey(calc(var(--angle) * 2)) translateZ(300px);
}
.carousel-card:nth-child(n + 2) {
    filter: blur(0.8px);
}
.carousel-card::after {
    cursor: pointer;
    content: "";
    position: absolute;
    inset: 0;
    z-index: 2;
}
.card__pokemon {
    position: relative;
}
.card__pokemon-id,
.card__pokemon-id::after {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center start;
    color: white;
    font-family: "Roboto", sans-serif;
}
.card__pokemon-id::after {
    content: attr(data-id);
    color: transparent;
    -webkit-text-stroke: 1px white;
    z-index: 1;
}
.card__pokemon-name,
.card__pokemon-name::after {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: end start;
    color: white;
    text-transform: capitalize;
    font-size: 2.4rem;
    font-family: "Anton SC", sans-serif;
}
.card__pokemon-name {
    bottom: 40px;
}
.card__pokemon-name::after {
    content: attr(data-name);
    color: transparent;
    -webkit-text-stroke: 1px white;
    z-index: 1;
}
.carousel-card__image {
    height: 140px;
    object-fit: cover;
}
.carousel-card__title {
    letter-spacing: 1px;
    font-weight: 600;
}
.carousel-card__prev,
.carousel-card__next {
    cursor: pointer;
}