.wrapper__image {
    width: 100%;
    position: relative;
}

.image--masking {
    background: var(--masking);
    background-size: contain;
}

.image--masking::after {
    width: 100%;
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(160deg, #ffffffd9 4%, transparent 50%);
    background-size: cover;
    -webkit-mask-image: var(--masking);
    -webkit-mask-size: cover;
    z-index: 1;
}

.image--masking > img {
    width: 100%;
    object-fit: cover;
    filter: contrast(1.2) brightness(1.1) drop-shadow(8px 8px 8px #00000040);
}