.loading {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    background: var(--bg-yellow-first);
}

.loading::before {
    height: 200px;
    width: 200px;
    content: "";
    background: var(--loading-gradient);
    mask-image: url(../assets/pokebola.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    animation: 1s pokeball linear infinite;
}

@keyframes pokeball {
    to {
        transform: rotate(360deg); 
    }
}