:root {
    --start: var(--bg-yellow-third);
    --midle: white;
    --end: var(--bg-yellow-first);
}

.skeleton {
    border-radius: 8px;
    animation: skeleton 600ms alternate infinite;
}

@keyframes skeleton {
    0% {background: linear-gradient(180deg, var(--start) 0%, var(--midle) 0%, var(--end) 100%);}
    25% {background: linear-gradient(180deg, var(--start) 0%, var(--midle) 25%, var(--end) 100%);}
    50% {background: linear-gradient(180deg, var(--start) 25%, var(--midle) 50%, var(--end) 100%);}
    75% {background: linear-gradient(180deg, var(--start) 50%, var(--midle) 75%, var(--end) 100%);}
    100% {background: linear-gradient(180deg, var(--start) 75%, var(--midle) 100%, var(--end) 100%);}
}

.skeleton.image {
    height: 200px;
    width: 200px;
    mask: url(../assets/pokebola.svg) no-repeat center;
    mask-size: cover;
}

.skeleton.text {
    height: 16px;
}

.skeleton.icon {
    height: 20px;
    width: 20px;
    mask: url(../assets/pokebola.svg) no-repeat center;
    mask-size: cover;
}

@media (max-width: 600px) {
    .skeleton.image {
        height: 160px;
        width: 160px;
        mask: url(../assets/pokebola.svg) no-repeat center;
        mask-size: cover;
    }    
}