@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-base-600: #FCF300;
  --color-base-500: #FCF529;
  --color-base-400: #FDF752;
  --color-base-300: #FDF97A;
  --color-base-200: #FEFBA3;
  --color-base-100: #FEFDCC;

  --color-primary-100: #FCF300;
  --color-primary-200: #5EB8E6;
  --color-primary-300: #ED4051;

  --color-secondary-100: #212529;
  --color-secondary-200: #EAEAEA;
  --color-secondary-300: #893168;

  --color-normal: #E7E6F7;
  --color-fire: #DC2F02;
  --color-grass: #2B9348;
  --color-flying: #CAF0F8;
  --color-fighting: #9D0208;
  --color-poison: #7B2CBF;
  --color-electric: #FFC300;
  --color-ground: #7F4F24;
  --color-rock: #A68A64;
  --color-psychic: #FF4D6D;
  --color-ice: #48CAE4;
  --color-bug: #80B918;
  --color-ghost: #560BAD;
  --color-steel: #E3D0D8;
  --color-dragon: #212529;
  --color-dark: #3C096C;
  --color-fairy: #FFB3C1;
  --color-water: #00B4D8;
  
  --background-color: var(--color-base-600);
  --text-color: var(--color-secondary-100);
  --text-family: "Cairo", sans-serif;
}

* ::-webkit-scrollbar {
  width: 4px;
  appearance: none;
}

* ::-webkit-scrollbar-track {
  background-color: var(--color-base-100);
}
* ::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-300);
}

body {
  letter-spacing: 2px;
  font-family: var(--text-family);
  color: var(--text-color);
  background-color: var(--background-color);
}

[data-normal],
[data-flying],
[data-steel],
[data-fairy] {
  color: var(--color-secondary-100);
}