.d-introduction__text {
    display: grid;
    place-content: center start;
}

.d-introduction__image {
    height: 260px;
    width: 260px;
    margin: 32px 0;
    position: relative;
    justify-self: center;
}

.d-introduction__image::before {
    content: "";
    position: absolute;
    inset: -20px;
    clip-path: circle();
    background: linear-gradient(135deg,var(--bg-yellow-sixth) 60%, transparent 100%);
}

@media (max-width: 600px) {
    .d-introduction__image {
        height: auto;
        width: 200px;
        margin: 64px 0;
    }
}