:root {
    --angle: 360deg / 3;
}
.wrapper-carousel {
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    perspective: 1000px;
}
.carousel {
    height: 300px;
    display: grid;
    place-items: center;
    transform-style: preserve-3d;
}
.carousel__card {
    width: 200px;
    height: 200px;
    position: absolute;
}
/* Tem que ser dinâmico */
.carousel__card:nth-child(1) {
    transform: rotatey(calc(var(--angle) * 0)) translateZ(300px);
}
.carousel__card:nth-child(2) {
    transform: rotatey(calc(var(--angle) * 1)) translateZ(300px);
}
.carousel__card:nth-child(3) {
    transform: rotatey(calc(var(--angle) * 2)) translateZ(300px);
}
@media (max-width: 600px) {
    .carousel {
        transform: rotateX(0) rotateY(0) rotateZ(90deg);
    }
    .carousel__card {
        width: 100px;
        height: 100px;
    }
    .carousel__card:nth-child(1) {
        transform: rotatey(calc(var(--angle) * 0)) rotateZ(-90deg) translateZ(150px);
    }
    .carousel__card:nth-child(2) {
        transform: rotatey(calc(var(--angle) * 1)) rotateZ(-90deg) translateZ(150px);
    }
    .carousel__card:nth-child(3) {
        transform: rotatey(calc(var(--angle) * 2)) rotateZ(-90deg) translateZ(150px);
    }
}